:root {
  --font: "Roboto", sans-serif;
  --color1: #102223;
  --color2: #346264;
  --color3: #74a1a3;
  --color4: #6df2fc;
  --color5: #97c2c5;
}
a:link,
a:visited {
  color: white;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: white;
  ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
  }

  h3,
  p {
    margin: 1em 0;
  }

  header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url("images/bg-featured-home.avif");
    background-size: cover;
    background-position: center;
    img {
      margin: 4rem;
    }
    div {
      display: flex;
      justify-content: flex-end;
      h1 {
        width: 60%;
        margin: 1rem;
      }
    }
  }
  main {
    padding: 1em 2em;
    background-color: black;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    p {
      color: var(--color3);
    }
    .read {
      text-decoration: underline;
      color: var(--color4);
    }
    h2 {
      background-color: var(--color1);
      margin-bottom: 0;
      padding: 0.5em 0;
    }

    > div {
      display: flex;
      justify-content: space-evenly;

      @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        text-align: center;
      }

      #news {
        width: 40%;

        h2 {
          padding-left: 2em;
          margin-bottom: 1em;
          max-width: 100%;
          /* @media screen and (max-width: 768px) {
            display: flex;
            flex-direction: column;
          } */
        }

        ul {
          display: flex;
          flex-wrap: wrap;
          li {
            display: flex;
            align-items: flex-start;
            width: calc(50% - 0.5em);
            &:nth-child(odd) {
              margin-right: 1em;
            }
            div {
              padding-left: 0.5em;
            }
          }
        }
      }
      #top_story {
        width: 25%;
        @media screen and (max-width: 768p) {
          width: 100%;
        }

        flex-wrap: wrap;
        h2 {
          padding-left: 2em;
        }
        ul {
          padding-bottom: 5em;
          li {
            display: flex;
            align-items: center;
            justify-content: space-between;

            div {
              margin: 1em 2em 0;
              flex: 1;
              max-width: 100%;
            }
            img {
              margin: 1em 0;
              flex: 1;
              max-width: 100%;
            }
          }
        }
      }
      #gallery {
        width: 40%;
        h2 {
          padding-left: 2em;
        }
        ul {
          display: flex;
          justify-content: space-between;
          padding: 0.5em;
          background-color: var(--color2);
          li {
            width: calc(100% / 3);
            img {
              width: calc(100% - 1em);
              margin: 0.5em;
            }
          }
        }
      }
      #connect {
        width: 25%;
        h2 {
          text-align: center;
        }
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        ul {
          padding: 2em 0;
          display: flex;
          justify-content: space-evenly;
          background-color: var(--color2);
        }
      }
    }
  }
}

footer {
  padding: 0.3rem;
  background-color: var(--color1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  nav {
    ul {
      display: flex;
      gap: 0.5rem;
      li {
        margin: 0.5em;
      }
    }
  }
}
