:root {
  --font: "Roboto", sans-serif;
  --color1: #102223;
  --color2: #346264;
  --color3: #6df2fc;
}
a:link,
a:visited {
  color: white;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: white;
  ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
  }
  h3,
  p {
    margin: 1em 0;
  }

  header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url("images/bg-featured-home.avif");
    background-size: cover;
    background-position: center;
    img {
      margin: 4rem;
    }
    div {
      display: flex;
      justify-content: flex-end;
      h1 {
        width: 35%;
        margin: 5rem;
      }
    }
  }
  main {
    padding: 12rem;
    background-color: black;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    .read {
      text-decoration: underline;
      color: var(--color3);
    }
    h2 {
      background-color: var(--color1);
      margin-bottom: 0;
      padding: 0.5em 0;
    }
    > div {
      display: flex;
      justify-content: space-between;

      #news {
        width: 60%;
        h2 {
          padding-left: 2em;
        }

        ul {
          display: flex;
          flex-wrap: wrap;
          li {
            display: flex;
            align-items: flex-start;
            width: calc(50% - 2em);
            margin: 1em;
            div {
              margin-left: 1em;
            }
          }
        }
      }
      #top_story {
        width: 35%;
        h2 {
          padding-left: 2em;
        }
        flex-wrap: wrap;
        li {
          display: flex;
          align-items: flex-start;
          margin: 1em;
          div {
            margin-left: 1em;
          }
        }
      }
      #gallery {
        width: 60%;
        h2 {
          padding-left: 2em;
        }
        ul {
          display: flex;
          justify-content: space-between;
          padding: 0.5em;
          background-color: var(--color2);
          li {
            width: calc(100% / 3);
            img {
              width: calc(100% - 1em);
              margin: 0.5em;
            }
          }
        }
      }
      #connect {
        width: 35%;
        h2 {
          text-align: center;
        }
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        ul {
          padding: 2em 0;
          display: flex;
          justify-content: space-evenly;
          background-color: var(--color2);
        }
      }
    }
  }
}

footer {
  padding: 0.3rem;
  background-color: var(--color1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  nav {
    ul {
      display: flex;
      gap: 0.5rem;
      li {
        margin: 0.5em;
      }
    }
  }
  #copyright {
  }
}
